/*Demo Style */

.jsCalendar.clean-theme tbody td.jsCalendar-previous, .jsCalendar.clean-theme tbody td.jsCalendar-next {
  color: #000;
  opacity: 0.2;
}
#wrapper {
  margin: 0 auto;
  width: 800px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}
#wrapper .jsCalendar table {
  box-shadow: none;
}
.clear {
  clear: both;
}
#events-calendar {
  float: left;
}
#events {
  float: left;
  width: 435px;
  margin: 10px 20px 10px 5px;
}
#events .title {
  padding: 5px 0px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
#events .subtitle {
  padding: 5px 0px;
  font-size: 14px;
  text-align: center;
  color: #888;
}
#events .list {
  height: 250px;
  overflow-y: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#events .list .event-item {
  line-height: 24px;
  min-height: 24px;
  padding: 2px 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
#events .list .event-item .close {
  opacity: 1;
  text-shadow: 0 0 black;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #000;
  border-radius: 8px;
  height: 14px;
  width: 14px;
  line-height: 12px;
  text-align: center;
  float: right;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0px;
  margin: 5px;
  display: block;
  overflow: hidden;
  background: #F44336;
  cursor: pointer;
}
#events .action {
  text-align: right;
}
#events .action input {
  padding: 0px 5px;
  font-size: 12px;
  margin: 10px 5px;
  border: 1px solid #999999;
  height: 28px;
  line-height: 28px;
  width: 120px;
  background: #f8f8f8;
  color: black;
  cursor: pointer;
  transition: all 0.2s;
}
#events .action input:hover {
  background: #eee;
  border: 1px solid #000;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.version {
  font-size: 12px;
  width: 800px;
  margin: 0 auto;
  text-align: right;
}